RocketClient/Service References/RocketService/ExamPrep1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamPrep1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamPrep1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rocket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rocket" nillable="true" type="tns:Rocket" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terestrial" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="NoAvailableLaunchpadFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoAvailableLaunchpadFault" nillable="true" type="tns:NoAvailableLaunchpadFault" />
  <xs:complexType name="Cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cargo" nillable="true" type="tns:Cargo" />
  <xs:complexType name="NoAvailableHangerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoAvailableHangerFault" nillable="true" type="tns:NoAvailableHangerFault" />
</xs:schema>