RocketClient/Service References/RocketService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ExamPrep1" />
  <xs:element name="NewRocket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="rocket" nillable="true" type="q1:Rocket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRocketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="NewRocketResult" nillable="true" type="q2:Rocket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessExistingRocket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="launchpadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessExistingRocketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="AccessExistingRocketResult" nillable="true" type="q3:Rocket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="cargo" nillable="true" type="q4:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="cargo" nillable="true" type="q5:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchActiveRocket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExamPrep1" minOccurs="0" name="target" nillable="true" type="q6:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchActiveRocketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActiveRocket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActiveRocketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>